<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transaction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <v-app>
        <v-content class="grey lighten-1">
            <v-container fill-height>
                <v-layout justify-center align-center>
                    <v-flex style="max-width: 450px">
                        <v-form v-model="isFormValid">
                            <v-card>
                                <v-img
                                        class="white--text"
                                        height="200px"
                                        src="https://picsum.photos/500/300?image=20"
                                >
                                </v-img>

                                <v-card-title>
                                    <div class="title grey--text text--darken-2">Open Payment Platform Test</div>
                                </v-card-title>

                                <v-divider></v-divider>

                                <transition mode="out-in" name="slide-y-transition">
                                    <div v-if="success" key="1">
                                        <v-alert
                                                class="ma-0"
                                                v-model="success"
                                                type="success"
                                        >
                                            {{successMessage}}
                                        </v-alert>
                                    </div>

                                    <div v-else key="2">
                                        <v-container grid-list-lg>
                                            <v-layout row wrap>
                                                <v-flex xs8>
                                                    <v-text-field
                                                            :rules="amountRules"
                                                            prepend-icon="attach_money"
                                                            label="Amount"
                                                            type="number"
                                                            v-model="amount"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>

                                                <v-flex xs4>
                                                    <v-select
                                                            dense
                                                            prepend-icon="monetization_on"
                                                            v-model="currency"
                                                            :items="currencies"
                                                            label="Currency"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>
                                            </v-layout>
                                        </v-container>

                                        <v-divider></v-divider>

                                        <v-container grid-list-lg>
                                            <v-layout row wrap>
                                                <v-flex xs8>
                                                    <v-text-field
                                                            :rules="holderRules"
                                                            prepend-icon="assignment_ind"
                                                            v-model="holder"
                                                            label="Holder"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>

                                                <v-flex xs4>
                                                    <v-select
                                                            dense prepend-icon="credit_card"
                                                            v-model="brand"
                                                            :items="brands"
                                                            label="Brand"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>

                                                <v-flex xs12>
                                                    <v-text-field
                                                            :rules="numberRules"
                                                            mask="#### - #### - #### - ####"
                                                            prepend-icon="credit_card"
                                                            v-model="number"
                                                            label="Number"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>

                                                <v-flex xs6>
                                                    <v-menu
                                                            ref="menu"
                                                            v-model="menu"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            :return-value.sync="date"
                                                            lazy
                                                            transition="scale-transition"
                                                            offset-y
                                                            full-width
                                                            max-width="290px"
                                                            min-width="290px"
                                                    >
                                                        <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                    v-model="date"
                                                                    label="Valid thru"
                                                                    prepend-icon="event"
                                                                    readonly
                                                                    v-on="on"
                                                                    :disabled="loading"
                                                            ></v-text-field>
                                                        </template>
                                                        <v-date-picker
                                                                v-model="date"
                                                                type="month"
                                                                no-title
                                                                scrollable
                                                        >
                                                            <v-spacer></v-spacer>
                                                            <v-btn flat color="primary" @click="menu = false">Cancel
                                                            </v-btn>
                                                            <v-btn flat color="primary" @click="$refs.menu.save(date)">
                                                                OK
                                                            </v-btn>
                                                        </v-date-picker>
                                                    </v-menu>
                                                </v-flex>

                                                <v-flex xs6>
                                                    <v-text-field
                                                            :rules="cvvRules"
                                                            mask="###"
                                                            prepend-icon="fingerprint"
                                                            label="CVV"
                                                            v-model="cvv"
                                                            :disabled="loading"
                                                    />
                                                </v-flex>
                                            </v-layout>
                                        </v-container>

                                        <v-divider></v-divider>

                                        <v-card-actions class="pa-3">
                                            <v-spacer></v-spacer>
                                            <v-btn :dark="isFormValid" color="green" :disabled="!isFormValid"
                                                   :loading="loading" @click="send">proceed
                                            </v-btn>
                                        </v-card-actions>
                                    </div>
                                </transition>
                            </v-card>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: () => ({
            isFormValid: false,
            loading: false,

            success: false,
            successMessage: null,

            menu: false,
            brands: ['VISA', 'MASTER'],
            currencies: ['EUR', 'USD'],

            date: new Date().toISOString().substr(0, 7),
            number: '4200000000000000',
            brand: 'VISA',
            holder: 'Jane Jones',
            cvv: '123',
            currency: 'USD',
            amount: '213',

            // rules
            amountRules: [
                v => !!v || 'This field is required',
                v => v > 0 || 'Amount must minimum 1'
            ],

            holderRules: [
                v => !!v || 'This field is required'
            ],

            numberRules: [
                v => !!v || 'This field is required',
                v => v.length === 16 || 'Number must contain 16 digits'
            ],

            cvvRules: [
                v => !!v || 'This field is required',
                v => v.length === 3 || 'CVV must contain 3 digits'
            ],
        }),
        methods: {
            checkAmount (event) {
                let amount = event.target.value;

                let isDouble = amount.search('.');

                console.log(isDouble);

                var [int, float] = amount;

                if (!int) int = event.target.value.split('.')[0];

                console.log(int, '<>', float, amount);
            },

            async send () {
                let url = 'http://localhost:4000/apiV1/transaction';

                let data = {
                    amount: this.amount,
                    currency: this.currency,
                    paymentBrand: this.brand,
                    cardNumber: parseInt(this.number),
                    cardHolder: this.holder,
                    cardExpiryMonth: this.date.split('-')[1],
                    cardExpiryYear: this.date.split('-')[0],
                    cardCVV: parseInt(this.cvv)
                };

                try {
                    this.loading = true;
                    let response = await axios.post(url, data);

                    if (response.data.ok) {
                        this.success = true;
                        this.successMessage = response.data.response.result.description;
                    }

                    this.loading = false;
                } catch (err) {
                    console.log(err);
                    this.loading = false;
                }
            }
        }
    })
</script>
</body>
</html>